- content_for :title do
  Zombies

- content_for :header_buttons do
  %a.btn{ :href => new_zombie_path } New Zombie

%table.table.table-bordered.table-striped

  %thead
    %tr
      %th Name
      %th Gender
      %th Age
      %th
      %th

  %tbody

    - @zombies.each do |zombie|
      %tr{ :id => dom_id(zombie) }
        %td= link_to zombie.name, zombie_path(zombie)
        %td= zombie.gender
        %td= zombie.age
        %td= link_to 'Edit', edit_zombie_path(zombie), :class => 'btn btn-info'
        %td= link_to 'Delete', zombie_path(zombie), :method => :delete, :class => 'btn btn-danger'

