- content_for :title do
  Zombie Details

#details

  #name
    Name: #{ @zombie.name }

  #gender
    Gender: #{ @zombie.gender }

  #age
    Age: #{ @zombie.age }

  #brain
    Fav Brains:
    - if @zombie.brain
      - brain = @zombie.brain
      #{ brain.size } #{ brain.kind.downcase } brains

  #gut
    Fav Guts: 
    - if @zombie.gut
      - gut = @zombie.gut
      #{ gut.kind } #{ gut.species.downcase } guts
