!!!
%html
  %head
    %title SuperZombies

    = stylesheet_link_tag    'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body

    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to 'SuperZombies', root_path, :class => 'brand'

    .container

      %section#gridSystem
        .page-header
          %h1=  yield :title

          .header-buttons
            = yield :header_buttons

        - if flash.notice
          #notice= flash.notice

        = yield

